body {
    display: flex;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 100px;
    height: 500px;
    background: rgba(255,255,255, 0.3);
    border-radius: 25px;
    margin-left: 29px;
    margin-top: 90px;
    text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
}

#list li {
    list-style: none;
    width: 60px;
    height: 60px;
    margin-top: 25px;
}

#list li:first-child {
    margin-top: 3px;
}

#list {
    position: absolute;
  left: 10px;
  top: 230px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

#list li:hover {
    transform: scale(1.2);
    transition: all .2s ease;
}